<ion-header style="height: 12%; display: flex; align-items: center;">
  <ion-toolbar >
    <div id="container"  style="width: 96%;">
      <div id="left">
    <ion-buttons  slot="start" style="display: block; color:#17cfe6;">
      <ion-menu-button style="font-size: 45px !important;"></ion-menu-button>
    </ion-buttons>
  </div>
  <div id="center">
    <ion-title style="margin-top: 10px; font-size: x-large;">Prospectos</ion-title>
  </div>
  <div id="right">
    <img (click)="scan()" src="/assets/iconbarcode.PNG" height="40px" width="50px" style="margin-top: 10px;">
  </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>




  <div id="searchName" style=" width: 90%; margin-top: 25px; margin-bottom: 25px;">
    <ion-label style="font-size: large; margin-bottom: 10px;">Nombre Comercial</ion-label>
    <ion-input style="border: solid; border-color: black;" placeholder="Amoxicilina Normon ..." [(ngModel)]="nameCommercial"></ion-input>
  </div>

  <div id="searchDrug" style=" width: 90%; margin-top: 25px; margin-bottom: 25px;">
    <ion-label style="font-size: large; margin-bottom: 10px;">Principio Activo</ion-label>
    <ion-input style="border: solid; border-color: black;" placeholder="Amoxicilina" [(ngModel)]="drug"></ion-input>
  </div>



  <div style="text-align: center;">
  <ion-button
    style="--background:#4fadd8; border-color: gray; margin-bottom: 15px; width: 65%; height: 50px;color: black;" (click)="searchMedication()">Buscar</ion-button>
  </div>

  <p>{{etiqueta}}</p>


  <div *ngIf="listMedication">
    <ion-list *ngFor="let medication of listMedication">


      <ion-card (click)="openLink(medication.urlProspect)" >
        <ion-card-header>
          <ion-card-title><div [innerHtml]="medication.name"></div></ion-card-title>
          <ion-card-title><div [innerHtml]="medication.nameDrug"></div></ion-card-title>
          <ion-card-title><div [innerHtml]="medication.laboratory"></div></ion-card-title>
  
        </ion-card-header>
        
      </ion-card>

      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarSiguientePagina($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</div>







</ion-content>
