<ion-header style="height: 12%; display: flex; align-items: center;">
  <ion-toolbar>
    <div id="container" style="width: 96%;">
      <div id="left">
        <ion-buttons slot="start" style="display: block; color:#17cfe6;">
          <ion-menu-button style="font-size: 45px !important;"></ion-menu-button>
        </ion-buttons>
      </div>
      <div id="center">
        <ion-title style="margin-top: 10px; font-size: x-large;">PillsBox</ion-title>
      </div>
      <div id="right">
        <ion-icon (click)="savePillsBox()" name="add" style="width:50px;  height:50px;"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Aqui va la lista de pillsBox que tengo cuando pinche me mandara a la lista de medicaciones que contiene ese pillsbox-->
  
  <ion-list *ngIf="pillBoxList">

  <div *ngFor="let pillsBox of pillBoxList">
  <ion-card>
    <div (click)="goPillsBoxContent(pillsBox.id)" style="width: 85%;">
    <ion-card-header >
      <img src="/assets/logo.png" height="50px" width="75px" style="margin-right: 10px; float: left">
      <ion-card-title style="padding-right: 10px;">{{pillsBox.nombre}}</ion-card-title>
    </ion-card-header>
  </div>
  <div style="float:right;" (click)="delete(pillsBox)">
   <ion-icon name="trash-outline" style="font-size: 35px;"></ion-icon>
  </div>
  </ion-card>

</div>
</ion-list>

</ion-content>