<ion-header style="height: 12%; display: flex; align-items: center;">
  <ion-toolbar >
    <div id="container"  style="width: 96%;">
      <div id="left">
    <ion-buttons  slot="start" style="display: block; color:#17cfe6;">
      <ion-menu-button style="font-size: 45px !important;"></ion-menu-button>
    </ion-buttons>
  </div>
  <div id="center">
    <ion-title style="margin-top: 10px; font-size: x-large;">Ajustes</ion-title>
  </div>
  <div id="right">
    <img (click)="goHome()" src="/assets/logo.png" height="50px" width="70px" style="margin-top: 10px;">
  </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
